<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shop.fortnite.ggjimmy.fortniteshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FortniteShop"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
 ATTENTION: This was auto-generat                                                                                                                                                                                                                                                                                                                                       ed to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SkinIntent"
            android:label="@string/title_activity_skin_intent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllSkins"
            android:theme="@style/MenuBackground" />
        <activity
            android:name=".Wishlist"
            android:label="@string/title_activity_wishlist"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".SkinIntentFragment"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>